<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/reset.css">
    <link rel="stylesheet" href="../public/page_register.css">

    <title>Inicio de Sesión</title>

</head>
<body>
    <div>
        <h2>Log in</h2>
        <form action="/login" method="POST">

            <label for="email">Email:</label>
            <input placeholder="email@example.com" name="email" required>

            <label for="contraseña">Contraseña:</label>
            <input placeholder="******" name="password" type="password" required>

            <button type="submit">Log in</button>
        </form>

        <script>
            const form = document.getElementById('myForm')
        
            form.addEventListener('submit', async (event) => {
            event.preventDefault()
        
            const formData = new FormData(form)
            const data = Object.fromEntries(formData.entries())
        
            const response = await fetch('/register', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
                })
            })
          </script>

    </div>


</body>
<script src="page_register.js"></script>
</html>
